@use '../abstracts/' as a;

img{
    width: 100%;
    height: auto;
  }

.img__full-width{
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
    
    @include a.tablet{
        height: 40vh;
    }
}