@use '../abstracts/' as a;

.container--l {
    width: min(100% - 2rem, a.$max-content-width);
    margin-inline: auto;
  }

  .container--m {
    width: min(100%, 700px);
    margin-inline: auto;
  }