@use '../abstracts/' as a;

header{
    background-color: a.$primary-dark;
    color: a.$white-color;
    padding-block: a.$base-padding;

    a {
        color: a.$white-color;
        text-decoration: none;
    }
}