@use '../abstracts/' as a;

.mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    button {
      background: none;
      border: none;
      padding: 0;
    
      @media (width >= a.$breakpoint-m) {
        display: none;
      }
    }
    
    &__open {
      font-size: 2rem;
      color: a.$white-color;
      cursor: pointer;
  
      &[aria-expanded='true'] + .mainnav__menu {
        opacity: 1;
        z-index: 2;
      }
    }
  
    &__close {
      display: block;
      margin-inline-start: auto;
      margin-block-end: 8rem;
      color: a.$white-color;
      cursor: pointer;

        > i {
          font-size: 3rem;
        }
    }
  
    &__menu {
      @include a.tablet {
        position: fixed;
        inset: 0;
        padding: 1.5rem;
        background-color: a.$primary-dark;
        opacity: 0;
      }
    }
  
    &__links {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin: 0;
      padding: 0;
  
      @include a.tablet {
        flex-direction: column;
      }
    }
  
    &__item {
        @include a.reset-list;
    }

    &__link {
      &:hover{
        text-decoration: underline;
      }

      &__active{
        font-weight: 700;
      }

      @include a.tablet {
        color: a.$white-color;
        font-size: 2rem;

        &__active{
          font-size: 2rem;
        }
      }
    }
  }
