$primary-light: #EEEBE1; //BG
$primary-dark: #30271C; //Text 
$accent-color: #C7A17A; //Accent
$white-color: #fff;




// Quick scheme used for text/bg, called with mixin color-scheme.
$scheme-default: $primary-light, $primary-dark;
$scheme-dark: $primary-dark, $primary-light;


//Padding/Margin
$base-padding: 0.75rem;
$base-margin: 0.75rem;

$button-padding: $base-padding ($base-padding * 3);
$section-padding: $base-padding * 4;
$section-margin: $base-margin * 4;


//Border-radius
$base-border-radius: 6px;